.logoimg {
  width: 8rem;
}

body {
  height: 100vh;
  font-family: '-apple-system', 'San Francisco', BlinkMacSystemFont, 'Helvetica Neue', Helvetica, "PingFang SC", "Alibaba PuHuiTi", "Microsoft YaHei", "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100%;
}

.title {
  font-size: 2.2rem;
  font-weight: 600;
  padding-bottom: 0.4rem;
}

.chinesetitle {
  color: rgb(95, 95, 95);
  font-size: 0.6rem;
  transform: translate(-4.15rem, 0.5rem);
}

.description {
  padding-bottom: 1.3rem;
  color: grey;
  font-size: 0.9rem;
}

.download {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn {
  padding-top: 0.72rem;
  padding-bottom: 0.72rem;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 1.1rem;
  background: white;
  font-weight: 600;
  border-radius: 0.6rem;
  border: none;
  box-shadow: 0 0.1rem 0.2rem rgb(189, 189, 189);
  cursor: pointer;
}

.btn:hover {
  box-shadow: 0 0.1rem 0.6rem rgb(189, 189, 189);
}

.btn:active {
  box-shadow: 0 0.2rem 0.3rem rgb(189, 189, 189);
}

.download-desc {
  padding-top: 0.5rem;
  color: grey;
  font-size: 0.6rem;
}

.moreinfo {
  position: fixed;
  bottom: 1.2rem;
}

.btnmore {
  box-shadow: 0 0.2rem 0.75rem rgb(202, 202, 202);
  background-color: rgb(250, 250, 250);
}

.setlang {
  padding-top: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.setlangtext {
  color: rgb(131, 131, 131);
  font-size: 0.76rem;
}

.setlang-desc {
  color: rgb(95, 95, 95);
  font-size: 0.6rem;
}

.btnlang {
  color: rgb(56, 56, 56);
  font-size: 0.76rem;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
}

.moredownload {
  padding-top: 0.2rem;
}

.func {
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: row;
  width: 70vw;
  max-width: 32rem;
  padding-bottom: 1.6rem;
}

.func-pic img {
  width: 10rem;
  border-radius: 0.2rem;
}

.func-pic {
  padding-right: 1.1rem;
}

.func-title {
  font-weight: 700;
  font-size: 1.6rem;
  padding-bottom: 0.4rem;
}

.func-desc {
  font-size: 0.98rem;
  color: rgb(70, 70, 70);
}

.before {
  margin-bottom: 3rem;
}

.after {
  margin-bottom: 9rem;
}

.morepage-moredownload {
  padding-top: 0.5rem;
}

.morepage-bottom {
  bottom: 0;
  width: 100vw;
  height: 7rem;
  box-shadow: 0 -0.36rem 0.8rem rgba(156, 156, 156, 0.32);
  background-color: rgb(251, 251, 251);
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  margin-left: 0.12rem;
  visibility: hidden;
  width: 8.4rem;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 0.2rem;
  padding: 0.2rem 0;
  position: absolute;
  z-index: 1;
  font-size: 0.7rem;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

/* make tongji(analysis) unvisible */
a {
  visibility: hidden;
}